<template>
    <div>
      <div style="display: flex;justify-content: center; width:100%;">
        <div style="padding:10px 0;width:20%">
          <el-input
            id="input_name"
            type="textarea"
            :rows="2"
            placeholder="Please enter the name"
            v-model="name"
            style="width: 90%"
          >
          </el-input>
        </div>
        <div style="padding:10px 0;width:20%">
          <el-input
            id="input_content"
            type="textarea"
            :rows="2"
            placeholder="Please enter the content"
            v-model="content"
            style="width: 90%"
          >
          </el-input>
        </div>
        <div style="padding:10px 0;width:10%">
          <el-button v-on:click="submit" type="primary">submit</el-button>
        </div>
      </div>
      <div style="padding:5%">
        <el-table :data="message" border style="width: 90%,margin:0 20">
          <el-table-column prop="name" sortable label="name" width="180">
          </el-table-column>
          <el-table-column prop="content" label="content" width="600">
          </el-table-column>
          <el-table-column prop="create_time" sortable label="time">
          </el-table-column>
        </el-table>
      </div>
    </div>
  </template>
  
  <script>
  import { get_data, save_data } from "../actions/index";
  export default {
    name: "tweet_simple",
    props: {
      msg: String,
    },
    data() {
      return {
        name: "",
        content: "",
        message: [],
      };
    },
    async mounted() {
      const message = await get_data();
      for (let i = 0; i < message.data.length; i++) {
        let time = message.data[i].create_time;
        message.data[i].create_time = time.split("T")[0]+' '+time.split("T")[1].split(".")[0];
      }
  
      this.message = message.data;
    },
    methods: {
      async submit() {
        if (this.name == ""||this.name.length > 50) {
          alert("The name cannot be empty and should ne no more than 50 chars");
        } else if (this.content == ""||this.content.length > 50) {
          alert("The content cannot be empty and should ne no more than 50 chars");
        }else {
          const save_message = await save_data(this.name, this.content);
          if (save_message.status == 201) {
            save_message.data.create_time =
              save_message.data.create_time.split("T")[0]+' '+save_message.data.create_time.split("T")[1].split(".")[0];
            this.message.push(save_message.data);
          }
          else{
            alert("There is an error")
          }
          this.content = ""
          this.name = ""
        }
      },
    },
  };
  </script>
  
  